.hide_fields_and_readonly {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

//.panel-default:hover {
//  background: rgba(255,255,0,0.5);
//}
//panel-default:hover .panel-body {
//  background: #fff;
//}

.comment-time {
  color: #aaa;
}